<div class="game">
    <div class="score">
        <span class="score">
            {{ displayScore$ | async }}
        </span>
        <span class="high-score">
            HighScore: {{displayHighScore$ | async}}
        </span>
    </div>
    <canvas #canvas class="canvas"></canvas>
    <button *ngIf="debugMode" (click)="nextShape()">nextShape</button>

    <div class="game-end" *ngIf="gameEnded$ | async">
        Game Over:<br>
        <span *ngIf="isHighScore">
            Neuer High-Score: {{ displayScore$ | async }}
        </span>
        <span *ngIf="!isHighScore">
            Score: {{ displayScore$ | async }}<br>
        </span>
        <button (click)="newGame()">neues Spiel</button>
        
    </div>
</div>
