.game {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 16px;

    .canvas {
        // max-height: 700px;
        // max-width: 500px;
        grid-row: 2;
        grid-column: 1;
    }

    .score {
        width: 100%;
        grid-row: 1;
        grid-column: 1;
        display: grid;
        
        .start-new {
            justify-self: start;
            button {
                border: 0;
                background: 0;
                padding: 8px;
            }
        }
        
        .score-num {
            margin: 32px;
            font-size: 32px;
            justify-self: center;
            width: auto;
        }

        .high-score {
            justify-self: end;
        }

    }


    .game-end {
        grid-row-start: 0;
        grid-row-end: 3;
        grid-column: 1;
        background-color: #FFF;
        padding: 64px;
        font-size: 32px;
        font-family: sans-serif;
        text-align: center;

        button {
            background-color: #00F;
            color: #FFF;
            border: 0;
            border-radius: 16px;
            padding: 16px;
        }
    }
}