.settings {
    height: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;

    .flex-spacer {
        flex-grow: 1;
    }
}

mat-form-field {
    width: 100%;
}


.settings-section+.settings-section {
    margin-top: 32px;
}

.update {
    .update-now {
        margin-top: 16px;
    }
}

.dragging-offset {
    display: flex;
    flex-direction: column;
}

h2 {
    padding-bottom: 8px;
}
