mat-drawer-container {
    height: 100vh;
}

.menu {
    padding: 64px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
    width: 80vw;
    .spacer{
        flex-grow: 1;
    }
    menu-button {
        width: 100%;
        font-size: 1.2em;
    }
    
}

.toolbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    .toggle-menu {
        grid-column: 1;
    }
    .title {
        // flex-grow: 1;
        text-align: center;
        grid-column: 2;
    }
    .action-button {
        justify-self: end;
        grid-column: 3;
    }
}