@use 'icons';

@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

$block-game-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$block-game-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);

$block-game-warn: mat.m2-define-palette(mat.$m2-red-palette);

$block-game-theme: mat.m2-define-light-theme((
  color: (
    primary: $block-game-primary,
    accent: $block-game-accent,
    warn: $block-game-warn,
  )
));

$block-game-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $block-game-primary,
      accent: $block-game-accent,
      warn: $block-game-warn,
    ),
  )
);
@include mat.all-component-themes($block-game-theme);

.dark-theme {
  @include mat.all-component-colors($block-game-dark-theme);
}

a:link,
a:active,
a:visited {
  color: mat.m2-get-color-from-palette($block-game-primary, 400);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    transition: color 1s;
    transition: background-color 1s;
    user-select: none;
}
html, body { height: 100%; }
